<app-prestige-button
    (onClick)="toggleModal()"
    label="Add question"
    icon="pi pi-plus"
    btnType="button"
></app-prestige-button>
<p-dialog
    header="Add a new question"
    [(visible)]="showModal"
    [modal]="true"
    [draggable]="true"
    [resizable]="false"
    [dismissableMask]="true"
    position="center"
    styleClass="w-[750px] child:bg-zinc-100 child:text-zinc-950 child:dark:bg-zinc-900 child:dark:text-zinc-50 child:border child:border-t-zinc-100 child:border-l-zinc-100 child:border-b-zinc-400 child:border-r-zinc-400 child:border child:dark:border-t-zinc-500 child:dark:border-l-zinc-500 child:dark:border-b-zinc-700 child:dark:border-r-zinc-700"
>
    <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
        <div class="mt-2 grid grid-cols-2 gap-3 child:mt-4">
            <app-default-input
                class="col-span-2"
                inputId="question-input"
                label="Question:"
                formControlName="question"
                [errors]="questionErrors.question"
            ></app-default-input>
            <app-text-area-input
                class="col-span-2"
                inputId="description-input"
                label="Description:"
                formControlName="description"
                [errors]="questionErrors.description"
            ></app-text-area-input>
            <app-select-input
                inputId="type-input"
                label="Type:"
                formControlName="type"
                [options]="questionTypeOptions"
                [errors]="questionErrors.type"
            ></app-select-input>
            <app-select-input
                inputId="level-input"
                label="Level:"
                formControlName="levelId"
                [options]="levelOptions"
                [errors]="questionErrors.levelId"
            ></app-select-input>
            <app-select-input
                inputId="subject-input"
                label="Subject:"
                formControlName="subjectId"
                [options]="subjectOptions"
                [errors]="questionErrors.subjectId"
            ></app-select-input>
            <div class="col-span-2 flex justify-between items-center">
                <p class="font-semibold text-xl text-sky-900 dark:text-sky-100">
                    Media section:
                </p>
                <app-default-button
                    customClass="child:px-3 child:py-2"
                    label="Add media"
                    [rounded]="true"
                    icon="pi pi-plus-circle"
                    type="button"
                    (onClickEvent)="addMedia()"
                ></app-default-button>
            </div>
            <div
                class="col-span-2 divide-y divide-zinc-500"
                formArrayName="mediaList"
            >
                <div
                    *ngFor="let media of getMedia.controls; index as i"
                    [formGroupName]="i"
                    class="pt-6 pb-2 grid grid-cols-2 gap-3"
                >
                    <app-default-input
                        inputId="media-title-input"
                        label="Media title:"
                        formControlName="title"
                        [errors]="questionErrors.mediaList.title"
                    ></app-default-input>
                    <app-select-input
                        inputId="media-type-input"
                        label="Media type:"
                        formControlName="type"
                        [options]="mediaTypeOptions"
                        [errors]="questionErrors.mediaList.type"
                    ></app-select-input>
                    <app-file-input
                        [errors]="questionErrors.mediaList.file"
                        formControlName="file"
                        [inputId]="'file-input-' + i"
                        (fileChange)="setMedia($event, i)"
                    ></app-file-input>
                    <div class="flex justify-center items-center">
                        <app-default-button
                            customClass="child:px-3 child:py-2"
                            label="Remove media"
                            bgStyle="red"
                            [rounded]="true"
                            icon="pi pi-trash"
                            type="button"
                            size="small"
                            (onClickEvent)="removeMedia(i)"
                        ></app-default-button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="pt-6 flex justify-center items-center gap-8 border-t border-zinc-500"
        >
            <app-default-button
                label="Submit"
                [rounded]="true"
                bgStyle="indigo"
                [loading]="isLoading()"
            ></app-default-button>
            <app-default-button
                label="Cancel"
                [rounded]="true"
                type="button"
                bgStyle="zinc"
                (onClickEvent)="toggleModal()"
            ></app-default-button>
        </div>
    </form>
</p-dialog>
