<aside class="sticky top-4">
    <app-general-container customClass="px-5 py-3 divide-y divide-zinc-500">
        <div class="pt-2 pb-4 flex justify-center items-center">
            <a routerLink="/" class="flex justify-center items-center gap-3">
                <img
                    src="/assets/images/logo/quiz-icon.png"
                    alt="YouQuiz Logo"
                    class="w-12"
                />
                <h4
                    class="font-black-ops text-3xl bg-gradient-to-r bg-clip-text text-transparent from-sky-500 to-sky-600 dark:from-sky-200 dark:to-sky-300 text-stroke-zinc-600-0.5 dark:text-stroke-zinc-300-0.5"
                >
                    YouQuiz
                </h4>
            </a>
        </div>
        <div class="pt-4 pb-2 flex flex-col gap-4">
            <app-side-bar-button
                *ngFor="let content of sideNavContents"
                [route]="content['route']"
                [icon]="content['icon']"
                [alt]="content['alt']"
                [label]="content['label']"
            ></app-side-bar-button>
        </div>
    </app-general-container>
</aside>
