<div class="flex flex-col gap-2">
    <div class="p-float-label">
        <textarea
            pInputTextarea
            #defaultTextArea
            class="w-full bg-zinc-200 text-zinc-950 dark:bg-zinc-700 dark:text-zinc-50"
            [id]="inputId"
            [formControl]="control()"
            [required]="isRequired()"
            (blur)="onBlur()"
        ></textarea>
        <label
            #labelElement
            class="label"
            [htmlFor]="inputId"
            [ngClass]="{ required: isRequired() }"
        >
            {{ label }}
        </label>
    </div>
    <div #errorsContainer class="hidden" *ngIf="errors && control().invalid">
        <small
            *ngFor="let err of control().errors | keyvalue"
            class="block text-red-600 dark:text-red-400"
            >{{ errors[err.key] }}</small
        >
    </div>
</div>
