<div>
    <div>
        question (search string), type (select string), level(select number),
        subject(select number), sort(select sortBy & sortOrder)
    </div>
    <div
        class="p-3 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-700 rounded-xl"
    >
        <div class="flex justify-between items-center">
            <div>
                <button type="button">Filters</button>
            </div>
            <div>
                <app-two-way-input-module
                    inputId="search-question"
                    label="Search"
                    iconPosition="right"
                    icon="pi pi-search"
                ></app-two-way-input-module>
            </div>
            <div>
                <button type="button">Add question</button>
            </div>
        </div>
        <div>test</div>
    </div>
    <div
        class="grid grid-cols-2 gap-3 p-3 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-700 rounded-2xl"
    >
        <ng-container *ngIf="questions(); else questionsLoading">
            <app-question-card
                *ngFor="let qs of questions()?.data?.content"
                [questionObj]="qs"
            ></app-question-card>
        </ng-container>
        <ng-template #questionsLoading>Questions Loading</ng-template>
    </div>
</div>
