<div>
    <app-dashboard-filters [(search)]="search">
        <div id="modal">
            <app-create-question
                (creationCompleted)="getAllQuestions()"
            ></app-create-question>
        </div>
        <div id="filters" class="grid grid-cols-4 gap-3">
            <app-two-way-select-input label="Question type"></app-two-way-select-input>
            <app-two-way-select-input label="Level"></app-two-way-select-input>
            <app-two-way-select-input label="Subject"></app-two-way-select-input>
            <app-two-way-select-input label="Sort by"></app-two-way-select-input>
        </div>
    </app-dashboard-filters>
    <div
        class="grid grid-cols-2 gap-3 p-3 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-700 rounded-2xl"
    >
        <ng-container
            *ngIf="!(questionsLoading() | async); else loadingTemplate"
        >
            <app-question-card
                *ngFor="let qs of questions()?.data?.content"
                [questionObj]="qs"
            ></app-question-card>
        </ng-container>
        <ng-template #loadingTemplate>
            <app-question-card-skeleton
                *ngFor="let i of range()"
            ></app-question-card-skeleton>
        </ng-template>
    </div>
</div>
