<main class="container mx-auto my-4 grid grid-cols-[auto_1fr] gap-4">
    <aside class="p-3 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-700 rounded-xl">
        <header class="flex flex-col gap-4 child:p-2 child:border child:rounded-md">
            <a routerLink="/dashboard/questions">Questions</a>
            <a routerLink="/dashboard/answers">Answers</a>
            <a routerLink="/dashboard/levels">Levels</a>
            <a routerLink="/dashboard/subjects">Subjects</a>
        </header>
    </aside>
    <div class="">
        <header class="bg-green-400 flex justify-between">
            <div>header</div>
            <div>
                <app-dark-mode></app-dark-mode>
            </div>
        </header>
        <div class="">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
