<div class="flex flex-col gap-2">
    <div #selectInput class="p-float-label">
        <p-dropdown
            [options]="options"
            optionLabel="name"
            optionValue="code"
            styleClass="w-full text-zinc-950 dark:text-zinc-50 bg-zinc-200 dark:bg-zinc-700"
            [filter]="filter"
            filterBy="name"
            [showClear]="showClear"
            [inputId]="inputId"
            [formControl]="control()"
            [required]="isRequired()"
            (onHide)="onBlur()"
        >
            <ng-template pTemplate="selectedItem">
                <div
                    class="flex align-items-center gap-2 text-zinc-950 dark:text-zinc-50"
                    *ngIf="control()"
                >
                    <div>{{ optionsObj[control().value] }}</div>
                </div>
            </ng-template>
            <ng-template let-opt pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ opt.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <label
            #labelElement
            class="label"
            [htmlFor]="inputId"
            [ngClass]="{ required: isRequired() }"
        >
            {{ label }}
        </label>
    </div>
    <div #errorsContainer class="hidden" *ngIf="errors && control().invalid">
        <small
            *ngFor="let err of control().errors | keyvalue"
            class="block text-red-600 dark:text-red-400"
            >{{ errors[err.key] }}</small
        >
    </div>
</div>
