<p-button
    styleClass="border border-zinc-300 bg-gradient-to-br bg-[length:200%_200%] bg-left-top brightness-100 transition-all duration-300 hover:bg-right-bottom hover:shadow hover:shadow-zinc-800 hover:dark:shadow-zinc-300 hover:brightness-110"
    [ngClass]="getClasses"
    [label]="label"
    [type]="type"
    [icon]="icon"
    [iconPos]="iconPosition"
    [loading]="loading"
    [loadingIcon]="loadingIcon"
    [disabled]="disabled"
    [raised]="raised"
    [rounded]="rounded"
    [size]="size"
    (onClick)="onClick()"
></p-button>
